<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Top10 WatchKit App (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Top10 WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Top10 WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Top10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8B00CD861DF63B5A0063CA5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B00CDA21DF63B5A0063CA5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B00CDAD1DF63B5B0063CA5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B9AF8FF1DF64B490072B053</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
